{% extends 'base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{title}}
{% endblock head_title %}

{% block style %}
    h1{color:#333333}
{% endblock style %}


{% block content %}
<div class="comments col-6">
    <h1>Confirm Delete</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Are you sure want to delete: "{{object.content}}"?</p>
        <input type="submit" value="Confirm" class="btn btn-warning">
        <a href="{{object.get_absolute_url}}" class="btn btn-default">Cancel</a>
    </form>
</div>

{% endblock content %}
